{% extends 'base.html' %}
{% block title %}
    More
{% endblock %}

{% block tohen %}
    {{ super() }}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/more.css">
    <div id="GridContainer">

        <div id="item2">

            <ul>
                <h3>PROFILE</h3>
                <p>
                    hardworking person with great ambitions looking for an additional challenge.
                </p>
                <p>Information Systems Management student at Ben-Gurion
                    University. A hardworking person with great ambitions looking for
                    an additional challenge.</p>
            </ul>
            <ul>
                <h3>EXPERIENCED</h3>
                <li>Java, OOP</li>
                <li>SQL, BPMN</li>
            </ul>
            <ul>
                <h3>FAMILIAR</h3>
                <li>Python, C#, HTML</li>
            </ul>
            <ul>
                <h3>LANGUAGES</h3>
                <li>Hebrew: Native</li>
                <li>English: very good</li>
            </ul>


        </div>

    </div>
{% endblock %}